<div class="login-container">
  <div class="login-box">
  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h2>Créer un compte 2</h2>
    <% if resource.errors.any? %>
      <div class="custom-error-container">
        <h2><%= pluralize(resource.errors.count, "erro") %> impediram o salvamento deste formulário:</h2>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'custom-input', autofocus: true, autocomplete: "email" %>
    </div>

     <div class="form-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: 'custom-input', autofocus: true, autocomplete: "firstname" %>
    </div>

     <div class="form-group">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: 'custom-input', autocomplete: "lastname" %>
    </div>

    <div class="form-group">
      <%= f.label :birthdate %>
      <%= f.date_select :birthdate, class: 'custom-input' %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'custom-input', autocomplete: "phone" %>
    </div>


    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, class: 'custom-input', autocomplete: "new-password" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'custom-input', autocomplete: "new-password" %>
    </div>

        <!-- Champs pour l'organisation -->
      <%= f.fields_for :organisation do |org_form| %>
        <h3>Organisation Details</h3>

        <div class="form-group">
          <%= org_form.label :business_name %>
          <%= org_form.text_field :business_name, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :status %>
          <%= org_form.text_field :status, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :creation_date %>
          <%= org_form.date_select :creation_date, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :address %>
          <%= org_form.text_field :address, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :address_line_2 %>
          <%= org_form.text_field :address_line_2, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :postal_code %>
          <%= org_form.text_field :postal_code, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :city %>
          <%= org_form.text_field :city, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :country %>
          <%= org_form.text_field :country, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :identification_number %>
          <%= org_form.text_field :identification_number, class: 'custom-input' %>
        </div>

        <div class="form-group">
          <%= org_form.label :vat_number %>
          <%= org_form.text_field :vat_number, class: 'custom-input' %>
        </div>

      <% end %>

      <div class="form-group">
        <%= f.submit "Sign up", class: 'custom-button' %>
      </div>

    <% end %>
  </div>
</div>

