
<div class="sign-up-header" style="min-width: 100%; height: 50px; text-align: center;">
  <p class="create-account-text" style="color: #FFA01C; font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 40px; margin: 0;">Créez votre compte</p>
</div>
<div class="sign-up-header" style="min-width: 100%; display: flex; justify-content: center; padding-top: 30px; padding-bottom: 30px">
  <%= image_tag('progress-bar-sign-up-1.png', alt: 'Progress bar step 1/4', class: 'centered-image', style: "width: 457px") %>
</div>
<div class="sign-up-step-container" style="min-width: 100%; height: 86vh; display: flex">

  <div class="sign-up-left" style="min-width: 50%; display: flex; justify-content: center; flex-direction: column">

    <div style="text-align: center; height: 150px">
      <p class="create-account-text" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 32px; margin: 0; width: 460px; margin: auto">Génerez vos factures et suivez vos paiements sur un seul outil</p>
    </div>
    <div class="sign-up-header" style="display: flex; justify-content: center; padding-top: 30px">
      <%= image_tag('undraw_in-the-office_e7pg.svg', alt: 'mindfull', class: 'centered-image', style: "width: 457px") %>
    </div>
  </div>

  <div class="sign-up-right" style="min-width: 50%; padding-top: 30px">
    <%= form_for @user, as: :user, url: step2_users_registrations_path, method: :post do |f| %>
      <%= render 'devise/shared/error_messages', resource: @user %>

      <div class="form-group-sub">
        <%= f.label :email, class: 'sub-custom-label' %>
        <%= f.email_field :email, class: 'sub-custom-input', autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group-sub">
        <%= f.label :password, class: 'sub-custom-label' %>
        <%= f.password_field :password, class: 'sub-custom-input', autocomplete: "new-password" %>
      </div>

      <div class="form-group-sub">
        <%= f.label :password_confirmation, class: 'sub-custom-label' %>
        <%= f.password_field :password_confirmation, class: 'sub-custom-input', autocomplete: "new-password" %>
      </div>

      <div class="form-group-sub">
        <%= f.submit "Suivant", class: 'sub-custom-button' %>
      </div>
    <% end %>
  </div>

</div>