

<h1>Equipe</h1>
<div class="index-top-container" style="justify-content: center">
  <div class="index-top-forms" style="background-color: #E4E9F7; width: 90%; display: flex; justify-content: space-between; padding: 10px; border-radius: 5px">
    <div class="index-order-box" style="display:flex; align-items: center; padding-left: 10px">
      <%= form_with url: users_index_path, method: :get, local: true do |f| %>
          <%= f.label :order, 'Ordenar por' %>
          <%= f.select :order, options_for_select([['Nome', 'firstname'], ['Sobrename', 'lastname'], ['ID', 'id'], ['Status', 'status']], params[:order]) %>
        
          <%= f.label :direction, 'Direção' %>
          <%= f.select :direction, options_for_select([['Crescente', 'asc'], ['Decrescente', 'desc']], params[:direction] || 'asc') %>

          <%= f.label :per_page, 'Collaborator por página' %>
          <%= f.select :per_page, options_for_select([10, 20, 50], @per_page.to_i), { include_blank: false } %>
        
          <%= f.submit 'Aplicar parametros', class: 'btn-sort' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Télécharger le CSV', users_index_path(format: :csv), class: 'btn btn-download' %>
      <%= link_to 'Télécharger le PDF', users_index_path(format: :pdf), class: 'btn btn-download' %>
      <% if current_user.org_admin? %>
        <%= link_to 'Ajouter un collaborateur', new_collaborator_path, class: 'btn btn-success' %>
      <% end %> 
    </div>
  </div>
</div>

<div class="table-container">
  <table class="index-table">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td>
          <div class="user-buttons">
            <%= link_to 'Mostrar', user_path(user), class: 'btn btn-show' %>
            <% if current_user.org_admin? %>
            <%= link_to edit_user_path(user), class: 'btn btn-edit' do %>
              <i class="fas fa-edit"></i> Éditer
              <% end%>
            <%= button_to user_path(user), method: :delete, data: { confirm: 'Êtes-vous sûr ?', turbo_confirm: 'Êtes-vous sûr ?' }, title: 'Supprimer', style: 'background: none; border: none; padding: 0; font: inherit; color: inherit; cursor: pointer; outline: inherit;' do %>
              <i class="fas fa-trash"></i> 
            <% end %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @users %>