<div class="index-top-container">
  <div class="index-top-forms">
      <div class="index-title-container" >
        <h1>Equipe</h1>
      </div>
      <div class="index-functions-container">
        <div class="index-order-box">
          <%= form_with url: users_index_path, method: :get, local: true do |f| %>
              <%= f.label :per_page, 'Collaborator por página' %>
              <%= f.select :per_page, options_for_select([10, 20, 50], @per_page.to_i), { include_blank: false }, class:"select-index-bar", onchange: "this.form.submit();" %>
              <%= hidden_field_tag :sort, params[:sort] %>
              <%= hidden_field_tag :direction, params[:direction] %>
          <% end %>
        </div>
        <div>
          <%= link_to users_index_path(format: :csv), class: 'btn-simple-index-bar' do %>
            <i class="fas fa-arrow-circle-down"></i> CSV
          <% end %>
          <%= link_to users_index_path(format: :pdf), class: 'btn-simple-index-bar' do %>
            <i class="fas fa-arrow-circle-down"></i> PDF
          <% end %>
          <% if current_user.org_admin? %>
            <%= link_to new_collaborator_path, class: 'btn-new-entry' do %>
              <span class="icon-circle"><i class="fas fa-plus"></i></span> Nouveau Collaborateur
            <% end %>
          <% end %> 
        </div>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="index-table">
    <tr>
      <th><%= sortable 'id', 'ID' %></th>
      <th><%= sortable 'firstname', 'Nom' %></th>
      <th><%= sortable 'lastname', 'Prénom' %></th>
      <th><%= sortable 'email', 'Mail' %></th>
      <th><%= sortable 'status', 'Statut' %></th>
      <th>Ações</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.status %></td>
        <td>
          <div class="user-buttons">
            <%= link_to 'Mostrar', user_path(user), class: 'btn btn-show' %>
            <% if current_user.org_admin? %>
            <%= link_to edit_user_path(user), class: 'btn btn-edit' do %>
              <i class="fas fa-edit"></i> Éditer
              <% end%>
            <%= button_to user_path(user), method: :delete, data: { confirm: 'Êtes-vous sûr ?', turbo_confirm: 'Êtes-vous sûr ?' }, title: 'Supprimer', style: 'background: none; border: none; padding: 0; font: inherit; color: inherit; cursor: pointer; outline: inherit;' do %>
              <i class="fas fa-trash"></i> 
            <% end %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @users %>