<h1>Lista de Clientes</h1>

<div class="sort-container">
  <%= form_with(url: clients_path, method: :get, local: true, class: "sort-form") do |form| %>
    <%= form.label :order, "Ordenar por", class: "label-sort" %>
    <%= form.select :order, options_for_select([['Nome', 'name'], ['Tipo', 'client_type']], selected: params[:order]), { include_blank: false }, class: "select-sort" %>

    <%= form.label :direction, "Direção", class: "label-sort" %>
    <%= form.select :direction, options_for_select([['Crescente', 'asc'], ['Decrescente', 'desc']], selected: params[:direction] || 'asc'), { include_blank: false }, class: "select-sort" %>

    <%= form.submit "Aplicar", class: "btn-apply" %>
  <% end %>
</div>

<div class="table-container">
  <table class="client-table">
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Cidade</th>
      <th>País</th>
      <th>Código Postal</th>
      <th>Ações</th>
    </tr>

    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.client_type %></td>
        <td><%= client.mail %></td>
        <td><%= client.phone %></td>
        <td><%= client.address %></td>
        <td><%= client.city %></td>
        <td><%= client.country %></td>
        <td><%= client.postal_code %></td>
        <td class="actions">
          <%= link_to 'Mostrar', client, class: 'btn-show' %> |
          <%= link_to 'Editar', edit_client_path(client), class: 'btn-edit' %> |
          <%= button_to 'Excluir', client, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-delete' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Novo Cliente', new_client_path, class: 'btn-new' %> <!-- Botão de Novo Cliente -->
