<h1>Detalhes do Cliente</h1>

    <table class="client-table">
      <tr>
        <td><strong>Nome:</strong></td>
        <td><%= @client.name %></td>
      </tr>
      <tr>
        <td><strong>Tipo:</strong></td>
        <td><%= @client.client_type %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @client.mail %></td>
      </tr>
      <tr>
        <td><strong>Telefone:</strong></td>
        <td><%= @client.phone %></td>
      </tr>
      <tr>
        <td><strong>Endereço:</strong></td>
        <td><%= @client.address %></td>
      </tr>
      <tr class="buttons">
        <td colspan="2" class="text-right">
          <%= link_to 'Editar', edit_client_path(@client), class: 'btn' %> |
          <%= link_to 'Voltar', clients_path, class: 'btn' %>
        </td>
      </tr>
    </table>
    