<h1>Detalhes do Cliente</h1>

    <p><strong>Nome:</strong> <%= @client.name %></p>
    <p><strong>Tipo:</strong> <%= @client.client_type %></p>
    <p><strong>Email:</strong> <%= @client.mail %></p>
    <p><strong>Telefone:</strong> <%= @client.phone %></p>
    <p><strong>Endereço:</strong> <%= @client.address %></p>
    
    <%= link_to 'Editar', edit_client_path(@client) %> |
    <%= link_to 'Voltar', clients_path %>
    