<h1>Detalhes do Cliente</h1>

    <table class="client-table">
      <tr>
        <td><strong>Nome:</strong></td>
        <td><%= @client.name %></td>
      </tr>
      <tr>
        <td><strong>Tipo:</strong></td>
        <td><%= @client.client_type %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @client.mail %></td>
      </tr>
      <tr>
        <td><strong>Telefone:</strong></td>
        <td><%= @client.phone %></td>
      </tr>
      <tr>
        <td><strong>Endereço:</strong></td>
        <td><%= @client.address %></td>
      </tr>
      <tr>
        <td><strong>Cidade:</strong></td>
        <td><%= @client.city %></td>
      </tr>
      <tr>
        <td><strong>País:</strong></td>
        <td><%= @client.country %></td>
      </tr>
      <tr>
        <td><strong>Codigo Postal:<strong></td>
        <td><%= @client.postal_code %></td>
      </tr>
      
      <% end %> 

      <% if @client.image? %>
        <%= image_tag @client.image.url %>
      <% end %> 
      <tr class="buttons">
        <td colspan="2" class="text-right">
          <%= link_to 'Editar', edit_client_path(@client), class: 'btn' %> |
          <%= link_to 'Voltar', clients_path, class: 'btn' %>
        </td>
      </tr>
    </table>
    
    <script>
    function initMap() {
      var map = new 
  google.maps.Map
  (document.getElementById('map'), {
        zoom: 10,
        center: {lat: <%= @client.latitude %>, lng: <%= @client.longitude %>}  // Utilisez les coordonnées du client pour centrer la carte
      });
  
      // Création du marqueur avec les coordonnées du client
      var clientLocation = {lat: <%= @client.latitude %>, lng: <%= @client.longitude %>};
  
      new google.maps.Marker({
        position: clientLocation,
        map: map
      });
    }
  
    // Lorsque le document est prêt
    document.addEventListener('DOMContentLoaded', function() {
      initMap();
    });
  </script> 