<%= form_with(model: [@client, @order], local: true) do |form| %>

  <%=  @order.client.name %>
  <div>
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="form-group">
    <%= form.label :payment_terms, "Delais de paiements" %>
    <%= form.select :payment_terms, Order::TERMS, {:prompt => "delais de paiement"}, class: "form-control" %>
  </div>

  <h3>Order Items:</h3>

  <div class="list-container">
    <div id="list">
      <%= form.fields_for :order_items do |f| %>
        <%= render partial: "order_item_fields", locals: { f: f } %>
      <% end %>
    </div>
    <button type="button" id="add-button" class="button-add">+ Ajouter produit</button>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <!-- Placeholder pour le template -->
  <div id="template-container" style="display: none;">
    <%= form.fields_for :order_items, OrderItem.new, child_index: 'NEW_RECORD' do |f| %>
      <%= render partial: 'order_item_fields', locals: { f: f } %>
    <% end %>
  </div>

<% end %>




