<%= form_with(model: [@client, @order], local: true) do |form| %>
  <div>
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <h3>Order Items:</h3>

  <div class="list-container">
    <div id="list">
      <%= form.fields_for :order_items do |f| %>
        <%= render partial: "order_item_fields", locals: { f: f } %>
      <% end %>
    </div>
    <button type="button" id="add-button" class="button-add">+ Ajouter produit</button>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <!-- Placeholder pour le template -->
  <div id="template-container" style="display: none;">
    <%= form.fields_for :order_items, OrderItem.new, child_index: 'NEW_RECORD' do |f| %>
      <%= render partial: 'order_item_fields', locals: { f: f } %>
    <% end %>
  </div>

<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.getElementById('add-button');
    const list = document.getElementById('list');
    const templateContainer = document.getElementById('template-container');

    addButton.addEventListener('click', function() {
      const newId = new Date().getTime();
      const templateHTML = templateContainer.innerHTML.replace(/NEW_RECORD/g, newId);

      const newFields = document.createElement('div');
      newFields.innerHTML = templateHTML;

      const removeButton = newFields.querySelector('.button-remove');
      if (removeButton) {
        // Ajouter un identifiant unique au bouton supprimer
        removeButton.id = `remove-button-${newId}`;
        attachRemoveEvent(removeButton);
      }
      
      list.appendChild(newFields.firstElementChild);
    });

    function attachRemoveEvent(button) {
      button.addEventListener('click', function() {
        button.closest('.list-item').remove();
      });
    }

    // Initialiser les événements pour tous les boutons "remove" existants au départ
    document.querySelectorAll('.button-remove').forEach(button => {
      attachRemoveEvent(button);
    });
  });
</script>



<style>
  .list-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .list-item {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  .button-add {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .button-remove {
    color: white;
    background-color: red;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .button-remove:hover, .button-add:hover {
    opacity: 0.8;
  }
</style>