<h1>Vendas</h1>

<div class="index-top-container" style="justify-content: center">
  <div class="index-top-forms" style="background-color: #E4E9F7; width: 90%; display: flex; justify-content: space-between; padding: 10px; border-radius: 5px">
    <div class="index-order-box" style="display:flex; align-items: center; padding-left: 10px">
      <%= form_with(url: orders_path, method: :get, local: true, class: "sort-form") do |form| %>
        <%= form.label :order_sort, "Ordenar por", class: "label-sort" %>
        <%= form.select :order_sort, options_for_select([['Cliente', 'client.name'], ['Data', 'date'], ['Total price ht', 'total_price_ht']], selected: params[:order_sort]), { include_blank: false }, class: "select-sort" %>
        <%= form.label :direction, "Direção", class: "label-sort" %>
        <%= form.select :direction, options_for_select([['Crescente', 'asc'], ['Decrescente', 'desc']], selected: params[:direction] || 'asc'), { include_blank: false }, class: "select-sort" %>
        <%= form.label :per_page, 'Produtos por página' %>
        <%= form.select :per_page, options_for_select([10, 20, 50], @per_page.to_i), { include_blank: false } %>
        <%= form.submit "Aplicar", class: "btn-apply" %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Télécharger le CSV', orders_path(format: :csv), class: 'btn btn-download' %> 
      <%= link_to 'Télécharger le PDF', orders_path(format: :pdf), class: 'btn btn-download' %> 
      <%= link_to 'Nova Venda', new_with_client_selection_orders_path, class: 'btn-new' %> 
    </div>
  </div>
</div>

<div class="table-container">
  <table class="index-table">
    <tr>
      <th>ID</th>
      <th>ID by org</th>
      <th>Data</th>
      <th>Cliente</th>
      <th>Mail</th>
      <th>Statut</th>
      <th>Price</th>
      <th>Délais de paiement</th>
      <th>Date d'échéance du paiement</th>
      <th>Ações</th>
    </tr>

    <% @orders.each do |order| %>
       <tr>
        <td><%= order.id %></td>
        <td><%= order.id_by_org %></td>
        <td><%= order.date %></td>
        <td><%= link_to order.client.name, client_path(order.client) %></td>
        <td><%= order.client.mail %></td>
        <td><%= order.status %></td>
        <% if order.total_price_ht.present? %>
          <td><%= order.total_price_ht %>€</td>
        <%else%>
          <td>Erreur calcul prix</td>
        <% end %>
        <% if order.payment_terms.present? %>
          <td><%= order.payment_terms %></td>
        <%else%>
          <td>delais non définis</td>
        <% end %>
         <% if order.payment_due_date.present? %>
          <td><%= order.payment_due_date %></td>
        <%else%>
          <td>facture non validée</td>
        <% end %>
        <td>
          <%= link_to 'Mostrar', order_path(order), class: 'btn-show' %>
          <% if order.status == 'brouillon' %>
            <%= link_to 'Valider', validate_order_path(order), data: { 'turbo-method': :patch }, class: "btn btn-success" %>
          <% end %>
          <%= link_to 'Editar', edit_order_path(order), class: 'btn-edit' %>
          <%= link_to 'Excluir', order_path(order), method: :delete, data: { confirm: 'Séguro que si?' }, class: 'btn btn-delete' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @orders %>
