<div class="index-top-container">
  <div class="index-top-forms" >
    <div class="index-title-container">
      <h1>Ventes</h1>
    </div>
    <div class="index-functions-container">
      <div class="index-order-box">
        <%= form_with(url: orders_path, method: :get, local: true) do |form| %>
          <%= form.label :per_page, 'Produits par page' %>
          <%= form.select :per_page, options_for_select([10, 20, 50], @per_page.to_i), { include_blank: false }, class:"select-index-bar",
                   onchange: "this.form.submit();" %>
          <%= hidden_field_tag :sort, params[:sort] %>
          <%= hidden_field_tag :direction, params[:direction] %>
        <% end %>
      </div>
      <div>
        <%= link_to orders_path(format: :csv), class: 'btn-simple-index-bar' do %>
          <i class="fas fa-arrow-circle-down"></i> CSV
        <% end %>

        <%= link_to orders_path(format: :pdf), class: 'btn-simple-index-bar' do %>
          <i class="fas fa-arrow-circle-down"></i> PDF
        <% end %>

        <%= link_to new_with_client_selection_orders_path, class: 'btn-new-entry' do %>
          <span class="icon-circle"><i class="fas fa-plus"></i></span> Nouvelle vente
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="index-table">
    <tr>
      <th><%= sortable 'id_by_org', 'ID' %></th>
      <th><%= sortable 'date', 'Date' %></th>
      <th><%= sortable 'client_id', 'Client' %></th>
      <th><%= sortable 'status', 'Status' %></th>
      <th><%= sortable 'total_price_ht', 'Price HT' %></th>
      <th><%= sortable 'payment_terms', 'Délais de paiements' %></th>
      <th><%= sortable 'payment_due_date', 'Date limitte de paiement' %></th>
      <th><%= sortable 'payment_status', 'Statut Payment' %></th>
      <th>Ações</th>
    </tr>

    <% @orders.each do |order| %>
       <tr>
        <td><%= order.id_by_org %></td>
        <td><%= order.date.to_date %></td>
        <td><%= link_to order.client.name, client_path(order.client) %></td>
        <td>
          <span class="status-badge <%= order.status == 'validé' ? 'status-validated' : 'status-draft' %>">
            <%= order.status %>
          </span>
        </td>
        <% if order.total_price_ht.present? %>
          <td><%= order.total_price_ht %>€</td>
        <%else%>
          <td>Erreur calcul prix</td>
        <% end %>
        <% if order.payment_terms.present? %>
          <td><%= order.payment_terms %>J</td>
        <%else%>
          <td>non définis</td>
        <% end %>
         <% if order.payment_due_date.present? %>
          <td><%= order.payment_due_date %></td>
        <%else%>
          <td>non validée</td>
        <% end %>

        <% if order.payment_status.present? %>
          <td>
            <span class="payment-badge <%= order.payment_status == 'Payé' ? 'status-paid' : 'status-pending' %>">
              <%= order.payment_status %>
            </span>
          </td>
        <%else%>
          <td>statut indisponible</td>
        <% end %>

        <td>
          <% if order.status == 'brouillon' %>
            <%= button_to validate_order_path(order), method: :patch, title: 'Valider la commande', class: 'btn-style-cancelation' do %>
              <i class="fas fa-check"></i>
            <% end %>
            <%= link_to edit_order_path(order), title: 'Modifier' do %>
              <i class="fas fa-edit"></i> 
            <% end %>
            <%= button_to order_path(order), method: :delete, data: { confirm: 'Êtes-vous sûr ?', turbo_confirm: 'Êtes-vous sûr ?' }, title: 'Supprimer', class: 'btn-style-cancelation' do %>
              <i class="fas fa-trash"></i> 
            <% end %>
          <% else %>
            <% if order.payment_status == "En attente"%>
              <%= button_to registar_payment_order_path(order), method: :patch, title: 'Marquer comme payé', class: 'btn-style-cancelation' do %>
                <i class="fas fa-money-bill-wave"></i>
              <% end %>
            <% end %>
            <%= link_to order_path(order), title: 'voir' do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to order_path(order, format: :pdf), title: 'Télécharger facture pdf' do %>
              <i class="fas fa-file-pdf"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @orders %>


