<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>
<p>
  <strong>id gé:</strong>
  <%= @order.id %>
</p>
<p>
  <strong>ID by org:</strong>
  <%= @order.id_by_org %>
</p>
<p>
  <strong>status:</strong>
  <%= @order.status %>
</p>
<p>
  <strong>delais de payment:</strong>
  <%= @order.payment_terms %>
</p>

<% if @order.status == "validé"%>
<p>
  <strong>date d'exigibilitée:</strong>
  <%= @order.payment_due_date %>
</p>
<% end %>
<p>
  <strong>Total Price:</strong>
  <%= number_to_currency(@order.total_price_ht) %>
</p>

<h3>Order Items</h3>
<ul>
  <% @order.order_items.each do |item| %>
    <li><%= item.product.name %>: <%= item.quantity %> x <%= number_to_currency(item.price) %></li>
  <% end %>
</ul>
 <%= link_to 'Commandes', orders_path %>
