<!-- Barra de Pesquisa -->
<% if user_signed_in? %>
  <div class="search-container">
    <%= form_with(url: search_path, method: :get, class: "search-form", data: { turbo_frame: "search_results" }) do |form| %>
      <%= form.label :query, "Pesquisar por Cliente ou Produto", class: "search-label" %>
      <%= form.text_field :query, placeholder: "Nome do Cliente ou Produto", class: "search-input" %>
      <%= form.submit "Pesquisar", class: "search-button" %>
    <% end %>
  </div>
<%end%>

<turbo-frame id="search_results">
  <!-- Contenu par défaut avant toute recherche -->
  <p>Insira uma pesquisa para ver os resultados.</p>
</turbo-frame> 


<!-- Resultados de Pesquisa -->
<% if params[:query].present? %>
  <h2>Resultados da Busca</h2>
  <div class="search-results">
    <% if @clients.any? %>
      <h3>Clientes Encontrados:</h3>
      <ul>
        <% @clients.each do |client| %>
          <li><%= link_to client.name, client_path(client) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Nenhum cliente encontrado.</p>
    <% end %>

    <% if @products.any? %>
      <h3>Produtos Encontrados:</h3>
      <ul>
        <% @products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>Nenhum produto encontrado.</p>
    <% end %>
  </div>
<% end %>