<!-- Section 1:  le hero-->
<section class="home-hero-section">
  <div>
    <%= image_tag('simple-crm-hero.png', alt: 'worker at work', style: "width: 100%; max-height: 850px; object-fit: cover; object-position: top; display: block; overflow: hidden;") %>
  </div>
  <div class="hero-text-container">
    <p class="hero-intro">Simple CRM: Gestion de la relation client</p>
    <h1 class="hero-title">Le CRM qui libère<br> votre temps</h1>
    <p class="hero-subtitle">Simplifiez votre gestion client avec un système intuitif. Moins de temps devant l'écran, plus de temps pour votre métier.</p>
    <div>
      <%= link_to 'Créer un compte', step1_users_registrations_path, class: 'btn btn-register-home' %>
    </div>  
  </div>
</section>

<!-- Section 2:  argu 1-->
<section class="home-section-2">
  <div class="home-section-2-left">
        <%= image_tag('dashboard-view.png', alt: 'simple crm dashboard', class:"home-section-2-picture") %>
  </div>
  <div class="home-section-2-right">
    <h2 class="home-section-2-title">De la prospection a la facturation, l’essentiel sans le superflue</h2>
    <p class="home-section-2-text">Chez Simple CRM, notre priorité est la simplicité pour les artisans et indépendants. Nous offrons un outil de gestion client complet et épuré, garantissant que chaque fonction, de la prospection à la facturation, est essentielle et sans superflu. Conçu pour être intuitif, Simple CRM minimise le temps passé à gérer les relations clients, vous permettant de vous concentrer davantage sur votre métier. Chaque minute devant votre écran est optimisée pour l'efficacité, augmentant votre productivité sans nécessiter un long apprentissage. En optant pour Simple CRM, vous choisissez une gestion client efficace qui valorise votre temps et votre activité.<p>
  </div>
</section>

<!-- Section 3:  detail avantages produits-->

<section class="home-section-3">
  <div class="home-section-3-left">
    <h2 class="home-section-3-title">La relation clients avec Simple CRM</h2>
    <p class="home-section-3-subtitle">Centralisez tout vos prospects, suivez les évènements, lancez vos campagnes de relances et gardez une vision claire et a jour grace a notre vue pipeline.<p>
    <ul class="home-section-3-list">
      <li><span class="check-icon">✔</span>Centralisation de vos leads</li>
      <li><span class="check-icon">✔</span>Gestion des campagnes de prospections</li>
      <li><span class="check-icon">✔</span>Pipeline de prospection personnalisable</li>
      <li><span class="check-icon">✔</span>Devis</li>
      <li><span class="check-icon">✔</span>Factures</li>
      <li><span class="check-icon">✔</span>Suivi des paiements et relances</li>
    <ul>
    <div>
      <%= link_to 'Créer un compte', step1_users_registrations_path, class: 'btn btn-register-home' %>
    </div>
  </div>
  <div class="home-section-3-right">
    <%= image_tag('home-visual.png', alt: 'more eficiency', class:"home-section-3-picture") %>
  </div>
</section>

<!-- Section 4: 4 benefices a passer a simple crm-->

<section class="home-section-4">
  <div class="home-section-4-top-container">
    <h2 class="home-section-4-title">Passez a<%= link_to 'Simple CRM', connected_home_path, style: 'font-size: 30px', class: 'logo-top-bar'%></h2>
    <p class="home-section-4-subtitle">Offrez vous un outil éfficace et adapté, qui vous permet d’etre plus éfficace simplement<p>
  </div>
  <div class="home-section-4-down-container">
    <div class="home-section-4-left">
      <div class="home-section-4-icone-text-bloc">
        <%= image_tag('target.png', alt: 'target', class:"home-section-4-picture") %>
        <h3>Convertissez plus de prospects<h3>
        <p class="home-section-4-text">Grace a la centralisation de vos lead et aux taches et rappels programmés, ne laissez plus aucuns prospect sans réponse et augmentez votre taux de conversion.<p>
      </div>
      <div class="home-section-4-icone-text-bloc">
        <%= image_tag('box.png', alt: 'box', class:"home-section-4-picture") %>
        <h3>Tout est inclus<h3>
        <p class="home-section-4-text">De la prospection a la vente, tout est inclus, vous n’avez pas besoin de jongler entres plusieurs interfaces<p>
      </div>
    </div>
    <div class="home-section-4-right">
      <div class="home-section-4-icone-text-bloc">
        <%= image_tag('time.png', alt: 'clock', class:"home-section-4-picture") %>
        <h3>Votre temps est precieux<h3>
        <p class="home-section-4-text">Mise en place, paramètrage et apprentissage rapide grace a notre outils simple et intuitif<p>
      </div>
      <div class="home-section-4-icone-text-bloc">
        <%= image_tag('save.png', alt: 'pig saving', class:"home-section-4-picture") %>
        <h3>Prix abordables<h3>
        <p class="home-section-4-text">Tarification simple et avantageuse<p>
      </div>
    </div>
  </div>
</section>


<!-- Section 5: Abonne toi-->
<section class="home-section-5">
  <h2 class="home-section-2-title">De la prospection a la facturation, l’essentiel sans le superflue</h2>
  <div style="display: flex; width: 100%; justify-content: center; margin-left: -5%">  
    <%= link_to 'Créer un compte', step1_users_registrations_path, class: 'btn btn-register-home' %>
  </div>
</section>

<style>
  .btn-register-home {
    background-color: #4B6AD7;
    color: white;
    border-radius: 30px; 
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10%;
    margin-top: 50px;
  }
  
  .hero-subtitle {
    font-weight: bold; 
    color: #7D7575; 
    font-size: 24px; 
    width: 463px;
  }

  .hero-title {
    font-weight: bold; 
    color: white; 
    font-size: 64px; 
    text-align: left
  }

  .hero-intro {
    font-weight: bold;
    color: white; 
    font-size: 24px;
  }

  .home-hero-section {
    min-width: 100%; 
    min-height: 855px; 
    margin-left: -70px;
    margin-right: -30px;
  }

  .hero-text-container {
    margin-top: -45%; 
    margin-left: 10%;
  }

  .home-section-2 {
   min-width: 100%; 
   min-height: 637px; 
   margin-left: -70px; 
   margin-right: -30px;
   display: flex;
  }

  .home-section-2-left {
    width: 50%;
    min-height: 100%;
    display: flex;
  }

  .home-section-2-right {
    width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4% 4%;
  }

  .home-section-2-picture {
   width: 630px; 
   height: 370px; 
   margin: auto; 
   border: 2px solid #4B6AD7; 
   border-radius: 15px
  }

  .home-section-2-title {
    font-size: 36px;
    margin-top: 10%;
    text-align: center;
  }

  .home-section-2-text {
    margin-top: 20px;
    text-align: justify;
    font-weight: normal;
    font-size: 20px;
  }

  .home-section-3 {
    min-width: 100%; 
    min-height: 750px; 
    margin-left: -70px; 
    margin-right: -30px;
    display: flex;
  }

  .home-section-3-left {
    display: flex;
    width: 50%;
    min-height: 100%;
    flex-direction: column;
    padding: 6% 5%;
  }

  .home-section-3-right {
    display: flex;
    width: 50%;
    min-height: 100%;
  }

   .home-section-3-picture {
   width: 550px; 
   height: 550px; 
   margin: auto; 
   border: 2px solid #4B6AD7; 
   border-radius: 15px
  }

  .home-section-3-title {
    font-size: 36px;
    text-align: center;
  }

  .home-section-3-subtitle {
    margin-top: 20px;
    text-align: justify;
    font-weight: normal;
    font-size: 20px;
  }

  .home-section-3-list {
    font-weight: bold;
    font-size: 20px;
  }

  .home-section-3-list li{
    margin-top: 10px;
    list-style-type: none;
  }

  .check-icon {
    color: white; 
    background-color: #7BE349; 
    border-radius: 50%; 
    width: 20px; 
    height: 20px;  
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    font-size: 15px; 
  }

  .home-section-4 {
    min-width: 100%; 
    min-height: 750px; 
    margin-left: -70px; 
    margin-right: -30px;
    display: flex;
    flex-direction: column;
    background-color: #F2D5A9;
  }

  .home-section-4-title {
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
  }

  .home-section-4-subtitle {
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }

  .home-section-4-down-container {
    margin-top: 30px;;
    min-height: 600px;
    display: flex;
    flex-direction: row;
  }

  .home-section-4-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
  }

  .home-section-4-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
  }

  .home-section-4-icone-text-bloc {
    min-height: 50%;
    display: flex;
    flex-direction:column;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
  }

  .home-section-4-picture {
   width: 200px; 
   height: 120px; 
   margin: auto; 
  }

  .home-section-4-text {
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
  }

    .home-section-5 {
    min-width: 100%; 
    min-height: 339px; 
    margin-left: -70px; 
    margin-right: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    background: linear-gradient(to bottom, #F2D5A9, #ffffff);
  }
</style>