<h1>Infos user</h1>

<h2>User Information</h2>
<ul>
  <li><strong>First Name:</strong> <%= @user.firstname %></li>
  <li><strong>Last Name:</strong> <%= @user.lastname %></li>
  <li><strong>Email:</strong> <%= @user.email %></li>
  <li><strong>Phone:</strong> <%= @user.phone %></li>
  <li><strong>Birthdate:</strong> <%= @user.birthdate %></li>
</ul>

<h2>Organisation Information</h2>
<% if @organisation %>
  <ul>
    <li><strong>Business Name:</strong> <%= @organisation.business_name %></li>
    <li><strong>Status:</strong> <%= @organisation.status %></li>
    <li><strong>Creation Date:</strong> <%= @organisation.creation_date %></li>
    <li><strong>Address:</strong> <%= @organisation.address %>, <%= @organisation.address_line_2 %></li>
    <li><strong>Postal Code:</strong> <%= @organisation.postal_code %></li>
    <li><strong>City:</strong> <%= @organisation.city %></li>
    <li><strong>Country:</strong> <%= @organisation.country %></li>
    <li><strong>Identification Number:</strong> <%= @organisation.identification_number %></li>
    <li><strong>VAT Number:</strong> <%= @organisation.vat_number %></li>
  </ul>
<% else %>
  <p>No organisation found.</p>
<% end %>