<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div class="custom-error-container">
      <h2><%= pluralize(product.errors.count, "erro") %> impediram o salvamento deste produto:</h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :product_image %>
    <%= form.file_field :product_image, class: "form-input" %>
  </div> 

  <h3>Price</h3>

  <%= form.fields_for :prices do |price_form| %>
    <div class="form-group">
      <%= price_form.label :amount, "Prix de vente ht" %>
      <%= price_form.number_field :amount, class: "form-input" %>
    </div>

  <% end %>

  <div class="form-group">
    <%= form.submit "Salvar", class: "form-button" %>
  </div>

<% end %>
