<h1>Lista de Produtos</h1>

<table class="client-table">
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Estoque</th>
    <th>Ações</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.stock %></td>
      <td>
      <div class='product-buttons'>
      <%= link_to 'Mostrar', product, class: 'btn btn-show' %>
      <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-edit' %>
      <%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este produto?' }, class: 'btn btn-delete' %>
    </div>
    </tr>
  <% end %>
</table>

<%= link_to 'Novo Produto', new_product_path %>
