
<div class="index-top-container" >
  <div class="index-top-forms" >
    <div class="index-title-container" >
      <h1>Produtos</h1>
    </div>
    <div class="index-functions-container">
      <div class="index-order-box">
        <%= form_with url: products_path, method: :get, local: true do |f| %>
            <%= f.label :per_page, 'Produits par page' %>
            <%= f.select :per_page, options_for_select([10, 20, 50], @per_page.to_i), { include_blank: false }, class:"select-index-bar",
                   onchange: "this.form.submit();" %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <%= hidden_field_tag :direction, params[:direction] %>
        <% end %>
      </div>
    
      <div>
        <%= link_to products_path(format: :csv), class: 'btn-simple-index-bar' do %>
          <i class="fas fa-arrow-circle-down"></i> CSV
        <% end %>
        <%= link_to products_path(format: :pdf), class: 'btn-simple-index-bar' do %>
          <i class="fas fa-arrow-circle-down"></i> PDF
        <% end %>
        <%= link_to new_product_path, class: 'btn-new-entry' do %>
          <span class="icon-circle"><i class="fas fa-plus"></i></span> Nouveau produit
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="index-table">
    <tr>
      <th><%= sortable 'id', 'ID' %></th>
      <th><%= sortable 'name', 'Nom' %></th>
      <th>Photo</th>
      <th><%= sortable 'description', 'Description' %></th>
      <th><%= sortable 'price', 'Prix de vente ht' %></th>
      <th>actions</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td>
          <% if product.product_image.present? %>
            <%= image_tag product.product_image.url, size: "50x50", alt: "#{product.name} image" %>
          <% else %>
            <p>>No image available" </p>
          <% end %>
        </td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.prices.last.amount, :unit => "€") %></td>
        <td>
          <div class="product-buttons">
            <%= link_to 'Mostrar', product, class: 'btn btn-show' %>
            <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-edit' %>
            <%= button_to 'Excluir', product, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-delete' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @products %>


