<h1>Produtos</h1>
<div class="index-top-container" style="justify-content: center">
  <div class="index-top-forms" style="background-color: #E4E9F7; width: 90%; display: flex; justify-content: space-between; padding: 10px; border-radius: 5px">
    <div class="index-order-box" style="display:flex; align-items: center; padding-left: 10px">
      <%= form_with url: products_path, method: :get, local: true do |f| %>
          <%= f.label :order, 'Ordenar por' %>
          <%= f.select :order, options_for_select([['Nome', 'name'], ['Preço', 'price'], ['ID', 'id']], params[:order]) %>
        
          <%= f.label :direction, 'Direção' %>
          <%= f.select :direction, options_for_select([['Crescente', 'asc'], ['Decrescente', 'desc']], params[:direction] || 'asc') %>

          <%= f.label :per_page, 'Produtos por página' %>
          <%= f.select :per_page, options_for_select([10, 20, 50], @per_page.to_i), { include_blank: false } %>
        
          <%= f.submit 'Aplicar parametros', class: 'btn-sort' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Télécharger le CSV', products_path(format: :csv), class: 'btn btn-download' %>
      <%= link_to 'Télécharger le PDF', products_path(format: :pdf), class: 'btn btn-download' %>
      <%= link_to 'Novo Produto', new_product_path, class: 'btn-new' %>
    </div>
  </div>
</div>

<div class="table-container">
  <table class="index-table">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Photo</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td>
          <% if product.product_image.present? %>
            <%= image_tag product.product_image.url, size: "50x50", alt: "#{product.name} image" %>
          <% else %>
            <p>>No image available" </p>
          <% end %>
        </td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.prices.last.amount, :unit => "€") %></td>
        <td>
          <div class="product-buttons">
            <%= link_to 'Mostrar', product, class: 'btn btn-show' %>
            <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-edit' %>
            <%= button_to 'Excluir', product, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-delete' %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @products %>


