<h1>Detalhes do Produto</h1>

    <p><strong>Nome:</strong> <%= @product.name %></p>
    <p><strong>Descrição:</strong> <%= @product.description %></p>
  
    <%= link_to 'Editar', edit_product_path(@product) %> |
    <%= link_to 'Voltar', products_path %>

       <% if @product.product_image? %>
        <%= image_tag @product.product_image.url %>
       <% end %> 

    <h3>Prices</h3>
    <% @prices.each do |price| %>
     <ul>
      <li><%=price.amount%>€ - mis a jour le: <%=price.created_at%></li>
     </ul>
    <% end %>