<div data-controller="sidebar">
  <div class="sidebar close" style="z-index: 999" data-sidebar-target="sidebar">
    <div class="logo-details">
      <!-- Bouton de toggle pour la sidebar entière -->
      <i class='bx bx-menu' style="cursor: pointer;" data-action="click->sidebar#toggleSidebar" data-sidebar-target="menuToggle"></i>
      <%=link_to connected_home_path, class: "link_name", style: "text-decoration:none" do %>
        <span class="logo_name">Simple CRM</span>
      <%end%>
    </div>
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="/products">
            <i class='bx bx-grid-alt'></i>
            <span class="link_name">Produits</span>
          </a>
          <i class='bx bxs-chevron-down arrow' data-action="click->sidebar#toggleSubmenu" data-sidebar-target="arrow"></i>
        </div>
        <ul class="sub-menu blank">
          <li><%= link_to 'Liste des produits', products_path, class:"link_name"%></li>
          <li><%= link_to 'Nouveau produit', new_product_path, class:"link_name"%></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/clients">
            <i class='bx bx-collection'></i>
            <span class="link_name">Clients</span>
          </a>
          <i class='bx bxs-chevron-down arrow' data-action="click->sidebar#toggleSubmenu" data-sidebar-target="arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><%= link_to 'Liste des clients', clients_path, class:"link_name"%></li>
          <li><%= link_to 'Nouveau client', new_client_path, class:"link_name"%></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/orders">
            <i class='bx bx-book-alt'></i>
            <span class="link_name">ventes</span>
          </a>
          <i class='bx bxs-chevron-down arrow' data-action="click->sidebar#toggleSubmenu" data-sidebar-target="arrow"></i>
        </div>
        <ul class="sub-menu">
          <li><%= link_to 'Liste des Ventes', orders_path, class:"link_name"%></li>
          <li><%= link_to 'Nouvelle vente', new_with_client_selection_orders_path, class:"link_name"%></li>
        </ul>
      </li>
      
      <li>
        <div class="iocn-link">
          <a href="/users_index">
            <i class='bx bx-compass'></i>
            <span class="link_name">Equipe</span>
          </a>
          <i class='bx bxs-chevron-down arrow' data-action="click->sidebar#toggleSubmenu" data-sidebar-target="arrow"></i>
        </div>
        <ul class="sub-menu blank">
          <li><%= link_to 'Liste des collaborateurs', users_index_path, class:"link_name"%></li>
          <li><%= link_to 'Nouveau collaborateur', new_collaborator_path, class:"link_name"%></li>
        </ul>
      </li>
      
      <li>
        <div class="iocn-link">
          <a href="/infos_user">
            <i class='bx bx-cog'></i>
            <span class="link_name">Paramètres</span>
          </a>
          <i class='bx bxs-chevron-down arrow' data-action="click->sidebar#toggleSubmenu" data-sidebar-target="arrow"></i>
        </div>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="infos_user">Setting</a></li>
        </ul>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <% if user_signed_in? && current_user.organisation.logo.present? %>
              <%= image_tag current_user.organisation.logo.url, alt: "Logo de l'Organisation", class: "organisation-logo-lat-bar" %>
            <% else %>
              <img src="https://media.istockphoto.com/id/157834378/fr/photo/plage-tropicale.jpg?s=612x612&w=0&k=20&c=V5_Pxhw1uSZP8hmZmuR8dFcYnLH1nW49GvFdCSU-hRg=" alt="">
            <% end %>
          </div>
          <%# <i class='bx bx-log-out'></i> %>
        </div>
      </li>
    </ul>
  </div>
</div>
