<!DOCTYPE html>
<html>
  <head>
    <title>SuperCrmTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
    <% if user_signed_in? %>
      <p>Bienvenue, <%= current_user.firstname %> <%= current_user.lastname %></p>
      <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Se connecter', new_user_session_path %> |
      <%= link_to 'Créer un compte', new_user_registration_path %>
    <% end %>
  </header>
    <!-- Messages Flash -->
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>

