<!DOCTYPE html>
<html>
  <head>
    <title>SuperCrmTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKuave45NnXlKogx1rpqD2ItifAGxiaLs ">
    </script> 
  </head>

  <body>
    <!-- Header -->
    <header class="main-header">
      <div class="container">
        <% if user_signed_in? %>
          <p>
            Bienvenue, <%= current_user.firstname %> <%= current_user.lastname %> |
            <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: 'btn' %>
          </p>
        <% else %>
          <nav>
            <%= link_to 'Se connecter', new_user_session_path, class: 'btn' %>
            <%= link_to 'Créer un compte', new_user_registration_path, class: 'btn' %>
          </nav>
        <% end %>
      </div>
    </header>

    <!-- Messages Flash -->
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>

    <!-- Conteúdo Principal -->
    <main>
      <%= yield %>
    </main>

    <!-- Footer -->
    <footer class="main-footer">
      <div class="container">
        <p>&copy; <%= Time.current.year %> SuperCrmTest. Tous droits réservés.</p>
      </div>
    </footer>
  </body>
</html>
